{{- $machineType := promptChoiceOnce . "machine_type" "Machine type" (list "personal" "work") -}}
{{- $gpgKey := promptStringOnce . "gpg_signing_key" "GPG signing key ID (leave empty to skip)" -}}

encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1lmarphzks5yk27tkdcuh9lp0e8dr2w820dqsy409qt5jue92ca0qpalg6h"

[data]
    machine_type = {{ $machineType | quote }}
    gpg_signing_key = {{ $gpgKey | quote }}
