[user]
	name = Ed Chapman
	email = edchapman88@gmail.com
{{- if .gpg_signing_key }}
	signingkey = {{ .gpg_signing_key }}
{{- end }}
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	ignorecase = false
	autocrlf = input
	hooksPath = ~/.config/git/hooks
{{- if .gpg_signing_key }}
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
{{- end }}
[credential "https://github.com"]
	helper =
	helper = !{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew/bin/gh{{ else }}/usr/local/bin/gh{{ end }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew/bin/gh{{ else }}/usr/local/bin/gh{{ end }} auth git-credential
